.jobCard {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background: #fff;
  aspect-ratio: 1/1;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  transition: 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* <-- add this line */
}

.jobCard:hover {
  background-color: #e8faff;
  border-bottom: 4px solid black;
}

.jobCompany {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.jobCompany img {
  border-radius: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: start;
  /* height: 80vh; */
  flex: 1;
}

.section a {
  text-decoration: none;
  color: black;
}

/* Header */

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #edfcff;
  padding: 3rem;
  border-radius: 0.5rem;
  gap: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* <-- add this line */
}

.search input {
  width: 25rem;
  background-color: #f7f7f7;
  padding: 0.5rem 2rem;
  border-radius: 4rem;
  border: 2px solid black;
  border-bottom: 4px solid rgb(61, 61, 61);
  outline: none;
}

.search input:focus {
  outline: none;
}

/* Job List/Grid */

.jobList {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}
