.aboutContainer {
  width: 80vw;
  height: 80vh;
  padding: 2rem;
  margin: 2rem 0;
  background-color: var(--highlight);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.aboutContainer h2 {
  text-transform: uppercase;
}

.aboutContent {
  height: 80%;
  width: 80%;
  display: flex;
  align-items: start;
}
