.aboutContainer {
    width: 80vw;
    height: 80vh;
    padding: 2rem;
    margin: 2rem 0;
    background-color: var(--highlight);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0.5rem;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.aboutContainer h2 {
    text-transform: uppercase;
}

.aboutContent {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: start;
}
