.howContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* background-color: black; */
    width: 80vw;
    height: 35vw;
    margin: 2rem 0;
}

.coachingContainer {
    background-color: #fff;
    width: 30%;
    height: 100%;
}

.coachingContent {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorialContainer {
    background-color: var(--highlight);
    width: 70%;
    height: 100%;
}

.tutorialContent {
    height: 80%;
    width: 80%;
    margin-top: 2rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.coachingContainer,
.tutorialContainer {
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-transform: uppercase;
}

/* Mobile Media Queries */
@media (max-width: 768px) {
    .howContainer {
        flex-direction: column;
        width: 95vw;
        height: auto;
        margin: 1rem 0;
        gap: 1.5rem;
    }

    .coachingContainer,
    .tutorialContainer {
        width: 100%;
        height: auto;
        min-height: 20rem;
        padding: 1.5rem;
    }

    .tutorialContent {
        width: 90%;
        height: 15rem;
        margin-top: 1rem;
    }

    .coachingContent {
        min-height: 15rem;
    }
}

@media (max-width: 480px) {
    .howContainer {
        width: 100vw;
        margin: 0.5rem 0;
        gap: 1rem;
    }

    .coachingContainer,
    .tutorialContainer {
        padding: 1rem;
        border-radius: 0.25rem;
        font-size: 0.9rem;
    }

    .tutorialContent {
        width: 95%;
        height: 12rem;
    }

    .coachingContent {
        min-height: 12rem;
    }
}
