section {
    /* margin-top: -15.8rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.login-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65rem;
    height: 28rem;
    background-color: var(--highlight);
    border-radius: 1rem;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.login-container img {
    width: 27rem;
}

.login-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
}

.login-section form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.login-section form button {
    margin-top: 1rem;
}

.login-section form input {
    background-color: white;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 23rem;
    height: 2rem;
    max-width: 25rem;
    padding: 1rem;
}

.login-section form a {
    position: absolute;
    color: #0571d3;
    margin-left: auto;
    text-decoration: none;
    font-size: 0.8rem;
    bottom: 0;
    right: 0;
    top: 5.5rem;
}

.login-section button {
    font-size: 1.1rem;
}
