section {
  /* margin-top: -15.8rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.login-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
  width: 65rem;
  height: 28rem;
  background-color: #edfcff;
  border-radius: 1rem;
  border: 1px solid black;
}

.login-container img {
  width: 20rem;
}

.login-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.login-section form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.login-section form input {
  background-color: white;
  border: 1px solid black;
  width: 23rem;
  height: 2rem;
  max-width: 25rem;
  padding: 1rem;
}

.login-section form a {
  position: absolute;
  color: #0571d3;
  margin-left: auto;
  text-decoration: none;
  font-size: 0.8rem;
  bottom: 0;
  right: 0;
  top: 5.5rem;
}

.login-section button {
  font-size: 1.1rem;
}
