:root {
  --accent: #33b499;
}

/* Layout Components */

.sideBar {
  background-color: var(--accent);
  position: relative;
  width: 20rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sideBarList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  height: 100%;
  width: 90%;
  padding: 0;
  padding-top: 5rem;
  margin: 0 1rem;
}

.sideBarList span {
  text-decoration: none;
  color: white;
  transition: 0.25s;
  font-size: 1.3rem;
  width: 100%;
  cursor: pointer;
}

.sideBarList a {
  text-decoration: none;
}
/* 
.sideBar a:hover {
  color: #bdffdd;
} */
.sideBarList .menuItem {
  text-align: left;
  transform: 0.25s;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: 0.25s;
}

.sideBarList .menuItem:hover,
.menuItem.active {
  background-color: #ffffff;
}

.menuItem:hover span,
.menuItem.active > span {
  color: var(--accent);
}

.menuItem:hover .subMenu li,
.menuItem:hover .subMenu a {
  color: var(--accent);
}

.sideBarPeso {
  display: flex;
  align-items: center;
  color: white;
  flex-flow: row wrap;
  padding: 1.5rem;
  align-self: flex-start;
  justify-self: flex-start;
}

.sideBarPeso img {
  width: 5rem;
}

.sideBarPeso span {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 5px;
}

.header {
  display: flex;
  justify-content: flex-end;
  /* border-bottom: 1px solid grey; */
  width: 100%;
  text-decoration: none;
}

.header img {
  width: 64px;
  filter: drop-shadow(1px 1px 0 var(--accent))
    drop-shadow(-1px 1px 0 var(--accent)) drop-shadow(1px -1px 0 var(--accent))
    drop-shadow(-1px -1px 0 var(--accent));
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  padding: 1rem;
  line-height: normal;
  width: 100%;
  border-bottom: 1px solid grey;
}

.header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header ul li svg {
  color: var(--accent);
  transform: scale(1.2);
  cursor: pointer;
}

.subMenu {
  max-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: left;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s,
    transform 0.25s, margin 0.25s;
  color: white;
  margin-top: 0;
}

.subMenu:hover {
  background-color: none;
}

.subMenu.open {
  max-height: 200px; /* or enough for your content */
  opacity: 1;
  transform: translateY(0);
  margin-top: 0.5rem;
}

.active {
  color: #081761 !important;
  transition: 0.25s;
}

.subMenu > li {
  color: white;
  transition: 0.25s;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  height: max-content;
  margin: 0.2rem 0;
  margin-left: -2rem;
}

/* .subMenu a {
  color: white;
  transition: 0.25s;
} */

.subMenu > li:hover,
.subMenu.active:hover,
.subMenu li.active {
  background-color: #1d8df5 !important;
  color: white !important;
}

.subMenu > li:hover a {
  color: white !important;
}

.menuItem.active > .subMenu li {
  color: var(--accent);
}
