.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.privateNav svg {
  transition: 0.25s;
  border-bottom: 0px solid var(--accent);
  transform: scale(1.3);
  width: 2rem;
}

.privateNav li:not(:first-child):hover svg {
  color: var(--accent);
}

.searchContainer input {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  width: 25rem;
  outline: none;
}

.searchIcon {
  background-color: #b8b8b8;
  padding: 0.5rem 1.5rem;
  border: 1px solid #b8b8b8;
  transition: 0.25s;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  background-color: #f9f9f9;
  min-width: max-content;
  max-width: 25rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  padding: 12px 16px;
}

.searchResultContent a {
  padding: 0 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.searchResultContent a:hover {
  background-color: var(--accent);
  border-radius: 10rem;
}

.searchDropdown {
  margin-top: 10rem;

  width: 25rem;
}

.notificationIcon {
  position: relative;
  cursor: pointer;
}

.notificationDropdown {
  margin-top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: auto;
}

.settingsDropdown {
  margin-top: 1rem;
  left: 100%;
  transform: translateX(-100%);
  cursor: auto;
}

.profileIconContainer {
  width: max-content;
}

.profileIcon {
  padding: 0;
  width: max-content;
  margin: 0;
}

.profileIcon img {
  border-radius: 100%;
  aspect-ratio: 1/1;
  width: 2.2rem;
  transition: 0.25s;
  border: 2px solid var(--accent);
}

.profileIcon img:hover {
  box-shadow: 0 0 8px 2px var(--accent), 0 0 16px 4px var(--accent);
}
