.exams {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    justify-content: space-between;
}

.examList {
    display: flex;
    flex-direction: column;
}

.examsCardContainer {
    display: flex;
    gap: 1.5rem;
}

.examCard {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1rem;
    width: 20rem;
    height: 12rem;
    background-color: #fff;
    border-radius: 0.5rem;
    /* border: 1px solid black; */
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
    margin-top: 0;

    transition: 0.1s;
}

.examCard:hover {
    margin-top: -0.2rem;
    background-color: #eda632;
    cursor: pointer;
    color: white;
}

.examCard:hover .examGraphic > div {
    background-color: #eda632;
    border-color: white;
}

.examGraphic {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.examGraphic > div {
    background-color: #fff;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 2rem;
    border-radius: 1rem;
    transition: 0.1s;
}

.examDetails {
    display: flex;
    flex-direction: column;
}

.createExamBtn {
    bottom: 1rem;
    background-color: #72c16f;
    border-bottom: 3px solid #5a8989;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: 0.1s;
    align-self: flex-end;
    margin-right: 1rem;
}

.createExamBtn:hover {
    border-bottom: 5px solid #466a7b;
    background-color: #459e62;
}

.createExamBtn:active {
    border-bottom: 0;
}

/* Create Exam */

.modalContent {
    display: flex;
    flex-direction: column;
}

.typeButtons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.typeSelector {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.typeDropdown {
    padding: 0.3rem 0.7rem;
    border-radius: 0.5rem;
    border: 1px solid #eda632;
    background: #fff8e1;
    font-weight: bold;
    color: #d45d15;
    cursor: pointer;
}

/*.typeButtons button {
    background-color: orange;
    border: 1px solid orange;
}*/

.questionBlock {
    margin-bottom: 2rem;
}

.questionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.addSectionBtn {
    position: sticky !important;
    bottom: 0 !important;
    width: max-content;
}

.removeSectionBtn {
    position: absolute;
    right: 1rem;
    color: white;
    padding: 1rem;
    background-color: #f5d38b;
    border-bottom: 3px solid #eda632;
    border-radius: 0.5rem;
    transition: 0.1s;
}

.removeSectionBtn:hover {
    background-color: #d59859;
    border-bottom: 5px solid #d45d15;
}

.removeSectionBtn:active {
    border-bottom: 0;
}

.yellowBtn {
    color: white;
    padding: 0.5rem 1rem;
    background-color: #f5c55e;
    border-bottom: 3px solid #eda632;
    border-radius: 0.5rem;
    transition: 0.1s;
    margin-bottom: 4px;
}

.yellowBtn:hover {
    background-color: #d59859;
    border-bottom: 5px solid #d45d15;
    transform: translateY(-4px);
    margin-bottom: 0;
}

.yellowBtn:active {
    border-bottom: 0;
}

.addUploadBtn {
    bottom: 0;
    position: sticky;
    display: flex;
}

.uploadBtn {
    position: sticky;

    width: max-content;
    margin-left: auto;
    bottom: 0;
    background-color: #72c16f;
    border-bottom: 3px solid #5a8989;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: 0.1s;
}

.uploadBtn:hover {
    border-bottom: 5px solid #466a7b;
    background-color: #459e62;
}

.uploadBtn:active {
    border-bottom: 0;
}

.greenBtn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    background-color: #72c16f;
    border-bottom: 3px solid #5a8989;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: 0.1s;
}

.greenBtn:hover {
    border-bottom: 5px solid #466a7b;
    background-color: #459e62;
}

.greenBtn:active {
    border-bottom: 0;
}

.modalContent {
    width: 50rem;
    padding: 2rem;
}

.header {
    border-bottom: 2px solid #eda632;
}

.noQuestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #eda632;
    font-size: 2rem;
}

/* Exit Confirmation for Creating Exam */

.confirmExitButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.exitBtn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #e86464;
    border-bottom: 3px solid#E30236;
    color: white;
    transition: 0.1s;
}

.exitBtn:hover {
    background-color: #ee3a57;
    border-bottom: 5px solid #e30250;
    transform: translateY(-2px);
}

.exitBtn:active {
    border-bottom: 0;
}

.questionInput {
    font-size: 1rem;
    border-bottom: 1px solid #eda632;
    padding: 0.5rem;
    min-width: 10rem;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    resize: vertical;
    overflow-wrap: break-word;
    word-break: break-word;
}

.questionText h4 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
