.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    background: white;
    border-radius: 1rem;
    padding: 2rem;
    min-width: 300px;
    min-height: 200px;
    height: auto;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modalContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.closeBtn {
    position: absolute;
    right: 2rem;
}

.header {
    width: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.header span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header h2 {
    margin: 0;
}

.header img {
    width: 64px;
    border-radius: 100%;
}

.jobContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
    width: 100%;
    background-color: #fffdf1;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.jobContainer > form {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.jobContainer form input,
.jobContainer form select {
    background-color: #fff;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.jobContainer form input,
.jobContainer form select {
    margin-left: 0.5rem;
}

.exam {
    background-color: #efefef;
    width: 35rem;
    height: 25rem;
    overflow: auto;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
}
.selectedExamId {
    position: absolute;
    bottom: 0;
    right: 0;
}
