.searchContainer {
    height: 100%;
    width: 100%;
}

.searchContent {
    margin: 2rem 10rem;
}

.jobList {
    margin-bottom: 1rem;
}

/* Mobile Media Queries */
@media (max-width: 768px) {
    .searchContent {
        margin: 1.5rem 2rem;
    }
}

@media (max-width: 480px) {
    .searchContent {
        margin: 1rem 1rem;
    }
}
