/* JobsOfCompany.module.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  padding: 2rem 4rem;
  border-radius: 8px;

  max-width: 40vw;
  max-height: 80vh;

  overflow-y: auto;
  position: relative;
}

.applicationModal {
  background: #fff;
  width: 60vw;
  height: 80vh;
  min-width: 60vw;
  max-width: 60vw;
  max-height: 80vh;
}

.jobSpecificCard {
  height: 28rem;
  aspect-ratio: 1/1.2;
  gap: 0.5rem;
}

.jobDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.companyInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.companyInformation img {
  border-radius: 100%;
}

.applicationContainer {
  display: flex;
  height: 85%;
  gap: 2rem;
  width: 100%;
}

.applicationJobCompany {
  align-self: center;
  aspect-ratio: 1/1.3;
  height: 77%;

  /* height: 82%; */
}

.applicationJobCompanyAdmin {
  align-self: center;
  aspect-ratio: 1/1.2;
  height: 77%;
}

.applicationDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  overflow-x: hidden;
}

.applicationNav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--nav);
  gap: 2rem;
  padding: 0;
  width: max-content;
}

.applicationNav li {
  cursor: pointer;
  padding: 0 1rem;
}

.applicationNav li.active {
  border-bottom: 2px solid #305b81; /* or your accent color */
  /* font-weight: bold; */
  color: #305b81;
}

.applicantDetail {
  display: flex;
  position: relatve;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 90%;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  overflow-x: hidden;
  align-self: center;
}

/* .applicantDetailResume {
  padding-top: 5rem;
  transform: scale(0.7);
  margin-left: -5rem;
  margin-top: 2rem;
  padding: 0rem 1rem;
  justify-self: flex-start;
  overflow-y: scroll;
} */

.applicantDetailResume {
  margin-top: -10rem;
  transform: scale(0.7);
  height: 100%;
  margin-bottom: 2rem;
}

.applicantDetailButtons {
  align-self: flex-start;
  justify-content: center;
  gap: 1rem;
  display: flex;
  position: absolute;
  bottom: 1.2rem;
  right: 16rem;
}

.jobApplied {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.applicantInformation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.applicantPicture img {
  border-radius: 100%;
}

.applicantPicture {
  border: 1px solid black;

  border-radius: 100%;
  width: 120px;
  height: auto;
}

.applicantPersonalInfo {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}
