.resumeRoot {
  width: 750px;
  max-width: 100%;
  font-family: Poppins, Arial, sans-serif;
  background: #fff;
  padding: 32px 40px;
  border: 1px solid black;
}

.resumeHeader {
  display: flex;
  align-items: center;
  gap: 32px;
}

.profilePic {
  width: 160px;
  height: 160px;
  object-fit: cover;
  /* border-radius: 8px; */
  border: 2px solid #222;
}

.headerInfo {
  flex: 1;
  margin-top: 3rem;
}

.resumeName {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
  text-align: center;
}

.resumeHr {
  margin: 0 0 24px 0;
  border: none;
  border-top: 2px solid #222;
}

.section {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  font-weight: 600;
  text-align: center;
  margin-bottom: 12px;
}

.personalInfo {
  text-align: left;
  margin-bottom: 24px;
}

.educationRow,
.workExpRow,
.personalInfo,
.profileText {
  width: 100%;
}

.educationRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.educationRight {
  text-align: right;
}

.skillsList {
  width: 100%;
  text-align: left;
  list-style: none;
  padding: 0;
}

.workExpRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.workExpRight {
  text-align: right;
}

.profileText {
  text-align: left;
  margin-bottom: 24px;
}
